<div class="container-fluid">
    <div class="row">
        {{#each posts}}
        <div class="col-lg-4 col-md-6 col-sm-12 padding">
            <div class="card">
                <div class="card-body">
                    <p><strong>Title: </strong>{{title}}</p>
                    <p><strong>Category: </strong>{{category.title}}</p>
                    <p><strong>Brief text: </strong>{{brief_text}}</p>
                    <p><strong>Views: </strong>{{views}}</p>
                    <a href="/admin/posts/settings/{{_id}}"><button type="button"
                            class="btn btn-info">Settings</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>