{{#each users}}
<div class="card">
    <div class="card-body">
        <p>Username: {{username}}</p>
        <p>Alias: {{alias}}</p>
        <p>Email: {{email}}</p>
        <p>Birthdate: {{birthdate}}</p>
        <p>Role: {{role}}</p>
        <p>Create at: {{createdat}}</p>
        <button type="button" class="btn btn-danger">Deletar usuario</button <hr>
    </div>
</div>
{{/each}}