{{#if sucess}}
<div class="alert alert-danger">{{sucess}}</div>
{{/if}}

{{#each Post}}
<div class="card">
    <div class="card-body">
        <p>
        <h2><a href="/posts/{{_id}}">{{title}}</a></h2>
        </p>
        <p><strong>Category: </strong>{{category.title}}</p>
        <p><strong>Text: </strong>{{text}}</p>
    </div>
</div>
<br>
{{/each}}